.feedback
{
  margin: 0;
  padding: 0;
}

.form__handlers
{
  margin: 0;
  padding: 15px;

  display: flex;
  justify-content: center;
}

.form__button
{
  min-width: 150px;
  min-height: 40px;
  background-color:silver;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;


}
