.chapter_theme_dark
{
  color: white;
  background-color:  #1f1f1f;
}

.chapter_theme_gray
{
  color: black;
  background-color:   #f2f2f2;
}

.chapter_theme_white
{
  color: black;
  background-color:  white;
}

.page
{
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.section
{
  width: 100%;
  margin: 100px 0;
  padding: 0;
}

/*******************************************************************/
/*                            header                               */
/*******************************************************************/
.header
{
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  display: flex;
  position: relative;
}

.logo
{
  margin: 0;
  padding: 0;
  width: 228px;
  height: 32px;

  z-index: 2;
}

.logo_place_header
{
  margin: 0;
  padding: 0;

  background-image: url("../images/logo_place_header.svg");
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title
{
  max-width: 730px;
  z-index: 3;

  margin: 0 0 0 64px;
  padding: 0;

  display: flex;
  align-items: center;

  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle
{  
  margin: 0;
  padding: 0;
  max-width: 388px;
  z-index: 2;

  position: absolute;
  bottom: 30px;
  left: 64px;

  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link
{
  margin: 0;
  padding: 0;

  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration
{
  width: 765px;
  height: 608px;
  z-index: 1;

  position: absolute;
  right: 0;
  bottom: 0;
}

.header__square-pic
{
  width: 568px;
  height: 568px;

  background-color: #2f80ed;

  position: absolute;
  right: 0;
  top: 64px;
}

/*******************************************************************/
/*                         description                             */
/*******************************************************************/
.description
{  
  display: flex;
  justify-content: center;
}

.two-columns
{
  margin: 0;
  padding: 0;
  width: 80%;

  display: flex;
  justify-content: space-between;
}

.two-columns__brief
{
  margin: 0;
  padding: 0;
  max-width: 175px;
  height: 100%;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text
{
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph
{
  margin: 0;
  padding: 0 0 30px;

  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-of-type
{
  /* Перезапись */
  padding: 0;
}

.two-columns__span-accent
{
  font-weight: 600;
}

/*******************************************************************/
/*                            digits                               */
/*******************************************************************/
.section-title
{
  max-width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.section-subtitle
{
  max-width: 60%;
  margin: 20px auto 0;
  padding: 0;
  text-align: center;

  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table
{
  width: 1100px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  list-style: none;
}

.table__cell
{
  width: 250px;
  margin: 60px 0 0;
  padding: 0;
}

.table__heading
{
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text
{
  margin: 20px 0 0;
  padding: 0;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/*******************************************************************/
/*                            feynman                              */
/*******************************************************************/
.feynman
{
  /* Перезапись */
  margin-bottom: 0;

  min-height: 890px;

  position: relative;

  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
}

.feynman__title
{
  max-width: 648px;
  margin: 0 auto;
  padding: 100px 0 0;

  text-align: center;

  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}

.feynman__subtitle
{
  margin: 70px auto 0;
  padding: 0;

  text-align: center;

  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link
{
  position: absolute;
  right: 48px;
  top: 50%;
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}

/*******************************************************************/
/*                            kaufman                              */
/*******************************************************************/
.kaufman
{
  /* Перезапись */
  margin: 0;
  padding: 90px 0;

  overflow: hidden;
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark
{
  /* Перезапись */
  width: 200px;
  margin: 80px 0 0;
}

.kaufman__triangle
{
  width: 877px;
  height: 877px;
  margin: 0;
  padding: 0;

  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

/*******************************************************************/
/*                            footer                              */
/*******************************************************************/
.footer
{
  min-height: 350px;
  width: 100%;
  margin: 0;
  padding: 60px 0 40px;

  box-sizing: border-box;
  display: flex;
}

.footer__columns
{
  width: 90%;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column
{  
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer__column_content_copyright
{
  margin: 0;
  padding: 0;

  flex-basis: 711px;

  /* Перезапись */
  justify-content: space-between;
}

.logo_place_footer
{
  background-image: url("../images/logo_place_footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__author
{
  margin: 18px 0;
  padding: 0;

  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column-heading
{
  margin: 0 0 20px;
  padding: 0;

  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.footer__column-links
{
  margin: 0;
  padding: 0 0 16px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer__column-link
{
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-decoration: none;
}

.footer__social-icon
{
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  padding: 0;
}
